@charset "utf-8";

/* 공용 클래스 */

* {
  box-sizing: border-box;
  word-break: keep-all;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: default;
  color: #111111;
  font-size: 62.5%;
}

/* 스크롤바 커스텀 */
body::-webkit-scrollbar {
  width: 10px;
}

/* 스크롤바 막대 커스텀 */
body::-webkit-scrollbar-thumb {
  background: #111111;
  border-radius: 30px;
  border: 2px solid #fff;
}

#all-wrap {
  min-height: calc(100%);
}

section {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.width-set {
  max-width: 1060px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  z-index: 99999;
}

.title {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 6rem;
}

.sub-txt {
  font-size: 1.8rem;
}

.bottom {
  padding-bottom: 200px;
}

/* 요소 숨기기(애니메이션 효과) */
.hidden-wrap {
  position: relative;
  overflow: hidden;
}

/* 타이틀 스크롤 텍스트 애니메이션 공통 */
.skill-title-container,
.pro-title-container {
  border-top: 2px solid #111111;
  border-bottom: 2px solid #111111;
  overflow: hidden;
  position: relative;
  height: 11.2rem;
  margin-bottom: 200px;
}

#skills .skill-title-container .skill-title-box,
#project .pro-title-container .project-title-box {
  top: 50%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  gap: 30px;
  -webkit-animation: textAni 25s linear infinite;
  animation: textAni 25s linear infinite;
}

@-webkit-keyframes textAni {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%)
  }
}

@keyframes textAni {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%)
  }
}

#skills .skill-title-box .skill-title-wrap,
#project .project-title-box .project-title-wrap {
  font-size: 4.8rem;
  text-transform: uppercase;
  font-family: "NHaas-B";
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 30px;
}

#skills .skill-title-box .skill-title-wrap i,
#project .project-title-box .project-title-wrap i {
  width: 24px;
  height: 24px;
  background: url(../image/sparkle_icon.png) no-repeat;
  background-size: 24px;
  font-size: 0px;
  line-height: 0px;
  z-index: 99999;
}

/* 애니메이션 공통 */
.quart {
  -webkit-transition: 1s cubic-bezier(0.25, 1, 0.5, 1);
  transition: 1s cubic-bezier(0.25, 1, 0.5, 1);
}

/* ----- 헤더 ----- */

header {
  position: fixed;
  max-width: 1600px;
  padding: 30px 2.6%;
  z-index: 1;
}

/* 로고 */
header .logo {
  width: 4.8rem;
  float: left;
  cursor: pointer;
}

/* 콘텍트 센션 로고 색상 변경 */
header .con-logo {
  width: 38px;
  float: left;
  display: none;
}

/* 카테고리 버튼 */
header .cate-btn {
  position: fixed;
  right: 0;
  cursor: pointer;
  z-index: 10;
  padding: 0 2.6%;
}

/* 카테고리 버튼 라인 생성 */
header .cate-btn span {
  position: relative;
  display: block;
  width: 4.2rem;
  height: 0.4rem;
  background: #6EFA00;
  border-radius: 5rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

/* 스크롤 값이 콘텍트 섹션에 진입하면 색상 변경 */
header .cate-btn span.bg {
  background: #fff;
}

header .cate-btn span:nth-child(1) {
  margin-bottom: 0.8rem;
}

/* 카테고리 라인 close버튼 토글 */
header .cate-btn span:nth-child(1).toggle {
  transform: rotate(135deg);
  background-color: #fff;
  top: 3px;
  margin: 0;
}

header .cate-btn span:nth-child(2).toggle {
  transform: rotate(-135deg);
  background-color: #fff;
}

/* 카테고리 */
header .category {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background: #111;
  padding: 0 10%;
  box-sizing: border-box;
  clip-path: inset(0 0 0 100%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

/* 카테고리 오픈 토글 */
header .category.open {
  clip-path: inset(0 0 0 0);
}

/* 메뉴 */
header #menu {
  color: #fff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: "NHaas-B";
  gap: 5rem;
  font-size: 3.6vw;
}

/* 메뉴 버튼 */
header #menu li {
  position: relative;
  left: 100px;
  opacity: 0;
  cursor: pointer;
}

/* 메뉴 버튼 호버 */
header #menu li.on {
  color: #87FF29;
  transform: translateX(-50px);
}

/* ----- 메인 ----- */

.main-container {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-bottom: 10rem;
}

/* 메인 동영상 */
.main-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* 메인 타이틀 랩(스티키로 텍스트 고정) */
.main-container .main-title-wrap {
  width: 100%;
  position: sticky;
  top: 0;
  transform: translateY(-20%);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
  font-size: 4vw;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: -0.04em;
}

/* 메인 타이틀(마지막 제외), 텍스트 숨기기 */
.main-container .main-title-wrap p {
  text-align: center;
}

.main-container .main-title-wrap p:not(:last-child) {
  position: relative;
  overflow: hidden;
}

.main-container .main-title-wrap p .main-title {
  position: relative;
  top: 130px;
  opacity: 0;
  -webkit-transition: 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  transition: 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}

.main-container .main-title-wrap p .main-title.animate {
  top: 0;
  opacity: 1;
}

.main-container .main-title-wrap .name .highlight {
  position: relative;
  top: 50px;
  opacity: 0;
  -webkit-transition: 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  transition: 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  -webkit-transition-delay: .6s;
  transition-delay: .6s;
}

.main-container .main-title-wrap .name .highlight.animate {
  top: 0;
  opacity: 1;
}

/* 메인 타이틀 마지막 */
.main-container .main-title-wrap .name {
  position: absolute;
  top: 100%;
  font-size: 5.6vw;
  color: #6EFA00;
  font-family: "NHaas-M";
  letter-spacing: 1.2;
}

/* 스크롤 다운시 메인 마지막 텍스트가 중앙으로 이동 */
.main-container .main-title-wrap .name.active {
  -webkit-animation: align .6s forwards ease-out;
  animation: align .6s forwards ease-out;
}

@-webkit-keyframes align {
  0% {
    top: 100%;
  }

  100% {
    top: 50%;
  }
}

@keyframes align {
  0% {
    top: 100%;
  }

  100% {
    top: 50%;
  }
}

/* 스크롤 업시 메인 마지막 텍스트 원래 위치로 이동 */
.main-container .main-title-wrap .name.back {
  -webkit-animation: alignBack .6s forwards ease-out;
  animation: alignBack .6s forwards ease-out;
}

@-webkit-keyframes alignBack {
  0% {
    top: 50%;
  }

  100% {
    top: 100%;
  }
}

@keyframes alignBack {
  0% {
    top: 50%;
  }

  100% {
    top: 100%;
  }
}

/* 스크롤 화살표 */
.scroll-arrow {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 16px;
  text-align: center;
}

/* 스크롤 화살표 이미지(위 아래로 반복되는 애니메이션) */
.scroll-arrow img {
  width: 2.4rem;
  margin: 10px;
  -webkit-animation: move 2s infinite ease-in-out;
  animation: move 2s infinite ease-in-out;
}

@-webkit-keyframes move {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);

  }

  100% {
    transform: translateY(0);
  }
}

@keyframes move {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);

  }

  100% {
    transform: translateY(0);
  }
}

/* ------  어바웃 ------ */

#about {
  width: 100%;
  height: 100%;
}

#about .about-wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#about .about-wrap .about-me {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  transform: translateY(100px);
  opacity: 0;
}

/* 어바웃 미 스크롤시 나타나는 애니메이션 */
#about .about-wrap .about-me.animate {
  transform: translateY(0);
  opacity: 1;
}

/* 프로필 이미지 영역 */
#about .about-img-area {
  position: sticky;
  top: 200px;
  width: 100%;
  height: 100%;
}

/* 프로필 이미지 */
#about .about-img-area img {
  width: 90%;
  padding-right: 30px;
}

#about .about-content-area {
  width: 100%;
  height: 100%;
}

/* 소개 내용 */
#about .about-content-area p:not(:nth-child(2)) {
  margin-top: 20px;
}

#about .about-content-area p {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4;
  word-wrap: break-all;
}

/* 장점 */
#about .advantages {
  width: 100%;
  top: 30%;
}

#about .advantages h4 {
  transform: translateY(50px);
  opacity: 0;
}

#about .advantages h4.animate {
  transform: translateY(0);
  opacity: 1;
}

#about .advantages ul {
  display: -webkit-box;
  display: flex;
}

#about .advantages ul li {
  width: calc(100% / 3);
  text-align: center;
  line-height: 1.5;
  transform: translateY(100px);
  opacity: 0;
}

#about .advantages ul li.animate {
  -webkit-animation: delay .4s forwards;
  animation: delay .4s forwards;
  -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
  animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

#about .advantages ul li:nth-child(2).animate {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

#about .advantages ul li:nth-child(3).animate {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

#about .advantages ul li h5 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 20px;
}

#about .advantages ul li p {
  font-weight: 300;
  font-size: 1.6rem;
}

#about .advantages ul li img {
  width: 11.2rem;
}

/* ----- 스킬 ----- */

#skills .skill-wrap {
  width: 100%;
  margin: 0 auto;
}

#skills .skill-wrap .skill-content-wrap {
  width: 100%;
}

/* 타이틀 */
#skills .skill-wrap h4 {
  transform: translateY(100px);
  opacity: 0;
}

#skills .skill-wrap h4.animate {
  transform: translateY(0);
  opacity: 1;
}

/* 스킬 내용 */
#skills .skill-wrap .skill-contents li {
  border-bottom: 0.4rem solid #111111;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  transform: translateY(100px);
  opacity: 0;
}

#skills .skill-wrap .skill-contents li.animate {
  -webkit-animation: delay 1s forwards;
  animation: delay 1s forwards;
  -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
  animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

@-webkit-keyframes delay {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes delay {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* 스킬 이미지 */
#skills .skill-wrap .skill-contents li img {
  position: relative;
  right: 0;
  width: 12.6rem;
  object-fit: contain;
  padding: 0 20px;
}

#skills .skill-wrap .skill-contents li:first-child {
  padding: 0 0 5rem 2rem;
}

#skills .skill-wrap .skill-contents li {
  padding: 5rem 0 5rem 2rem;
}

/* 해당 스킬 타이틀 */
#skills .skill-wrap .skill-contents li h5 {
  font-size: 3rem;
  font-family: "NHaas-B";
  padding-bottom: 10px;
}

/* 스킬 내용 */
#skills .skill-wrap .skill-contents li p {
  font-weight: 300;
  line-height: 1.5;
}

/* ------  프로젝트 ------ */

#project {
  height: auto;
}

#project .project-wrap {
  margin: 0 auto;
  transform: translateY(100px);
  opacity: 0;
}

#project .project-wrap.animate {
  transform: translateY(0);
  opacity: 1;
}

/* 프로젝트 구분 타이틀 */
#project .project-wrap h4 {
  text-transform: uppercase;
}

#project .project-wrap .Publishing {
  margin-bottom: 8rem;
}

#project .project-wrap .project-list-wrap {
  display: -webkit-box;
  display: flex;
  gap: 6rem;
}

#project .project-wrap .project-list-wrap a {
  display: -webkit-box;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.1);
}

/* 프로젝트 이미지 */
#project .project-wrap .project-list-wrap .Pub-project-img img {
  width: 100%;
  display: block;
  transform: scale(1);
  -webkit-transition: all .4s;
  transition: all .4s;
}

#project .project-wrap .project-list-wrap a:hover img {
  transform: scale(1.1);
}

/* 프로젝트 호버시 나타나는 프로젝트 정보 */
#project .project-wrap .pub-project-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.80);
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  text-align: center;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  line-height: 1.8;
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#project .project-wrap .pub-project-hover:hover {
  opacity: 1;
}

#project .project-wrap .pub-project-hover h5 {
  font-size: 2.4rem;
  font-weight: 500;
}

#project .project-wrap .pub-project-hover p {
  font-weight: 300;
}

#project .project-wrap .project-list-wrap .Pub-project:nth-child(1) {
  margin-bottom: 50px;
}

/* ------  콘텍트 섹션 ------ */

#contact {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: all .6s;
  transition: all .6s;
}

#contact .contact-container {
  width: 100%;
  height: 100%;
}

#contact .contact-wrap {
  width: 100%;
  position: relative;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

#contact .contact-wrap.animate {
  top: 0;
  opacity: 1;
}

#contact .contact-wrap .contents {
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  color: #fff;
  line-height: 1.5;
  text-align: center;
}

#contact .contact-wrap .contents h4 {
  font-size: 6.2rem;
  font-weight: 600;
  color: #6EFA00;
}

#contact .contact-wrap .contents p {
  padding-top: 30px;
  color: #c4c4c4;
  
}

#contact .contact-wrap .button {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 8rem;
  padding-top: 60px;
}

#contact .contact-wrap .button li a {
  display: block;
  overflow: hidden;
  width: 15.6rem;
  border-radius: 50%;
}

#contact .contact-wrap .button li a img {
  width: 15.6rem;
  transform: scale(1);
  -webkit-transition: all .4s;
  transition: all .4s;
}

#contact .contact-wrap .button li a:hover img {
  transform: scale(1.1);
}

/* ----- 푸터 ----- */

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 120px;
  /* transform: translateY(-100%); */
  border-top: 1px solid #c9c9c9;
  -webkit-transition: all .6s;
  transition: all .6s;
}

footer .footer-wrap {
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 36px;
}

footer .footer-wrap p {
  color: #e4e4e4;
  line-height: 1.9;
  text-align: center;
  display: block;
  font-weight: 300;
  font-size: 1.4rem;
}

/* 탑 버튼 */
footer .footer-wrap .top-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
  color: #e4e4e4;
  font-size: 1.8rem;
}