@charset 'uft-8';


/* ------- 1320 ------- */


@media(max-width: 1320px) {

  /* ----- 공용 클래스 ----- */

  .title {
    font-size: 2.8rem;
  }
}


/* ------- 1230 ------- */


@media(max-width: 1230px) {
  .width-set {
    max-width: 980px;
  }

  .sub-txt {
    font-size: 1.6rem;
  }

  /* 해당 스킬 텍스트 타이틀 */
  #skills .skill-wrap .skill-contents li h5 {
    font-size: 2.6rem;
  }
}


/* ------- 1150 ------- */


@media(max-width: 1150px) {
  .width-set {
    max-width: 890px;
  }

  /* ----- 컨텍트 ----- */

  /* other, mail 사이의 간격 조절 */
  #contact .contact-wrap {
    gap: 5rem;
  }

  /* 컨텍트 타이틀 */
  #contact .contact-container .contact-title {
    font-size: 5.8vw;
  }

  #contact .contact-container .contact-title.active {
    font-size: 7vw;
  }
}


/* ------- 1024 ------- */


@media(max-width: 1024px) {

  body,
  html {
    font-size: 56%;
  }

  .title {
    padding-bottom: 4rem;
  }

  /* ----- 네비게이션 ----- */

  header .category {
    width: 100%;
    clip-path: inset(0 0 0 100%);
  }

  header #menu {
    -webkit-box-align: center;
    align-items: center;
    font-size: 5.4vw;
  }

  /* 메뉴 버튼 호버 */
  header #menu li.on {
    color: #87FF29;
    transform: translateX(0);
    font-size: 6.8vw;
  }

  /* ----- 메인 ----- */

  .main-container {
    padding-bottom: 16rem;
  }

  .main-container .main-title-wrap {
    font-size: 5.2vw;
    top: -5%;
  }

  .main-container .main-title-wrap .name {
    font-size: 6.8vw;
  }

  /* ----- 프로젝트 ----- */

  #project .project-wrap .project-list-wrap {
    gap: 3rem;
  }

  /* 프로젝트 이미지 */
  #project .project-wrap .project-list-wrap a:hover img {
    transform: scale(1);
  }

  #project .project-wrap .pub-project-hover {
    opacity: 1;
    position: static;
    height: 0;
    padding: 6.4rem 0;
    border-top: 1px solid #ddd;
    background: #fff;
    color: #111;
    line-height: 1.5;
    -webkit-box-align: start;
    align-items: flex-start;
    padding-left: 20px;
  }

  #project .project-wrap .pub-project-hover h5 {
    font-weight: 500;
    font-size: 2rem;
  }

  #project .project-wrap .pub-project-hover p {
    font-weight: 400;
  }

  /* ----- 컨텍트 ----- */

  #contact .contact-wrap {
    height: 100%;
  }

  #contact .contact-wrap .contents h4 {
    font-size: 4.2rem;
    line-height: 1.2;
  }

  #contact .contact-wrap .button {
    padding-top: 0;
    gap: 4rem;
  }

  #contact .contact-wrap .button li img {
    width: 12.6rem;
  }

  #contact .contact-wrap .button li a:hover img {
    transform: scale(1);
  }
}


/* ------- 950 ------- */


@media(max-width: 950px) {

  body,
  html {
    font-size: 50%;
  }

  .width-set {
    max-width: 750px;
  }

  .m-interval {
    padding: 0 10px;
  }

  /* ----- 메인 ----- */

  .main-container {
    padding-bottom: 8rem;
  }

  .main-container .main-title-wrap {
    top: 2%;
  }

  /* ----- 어바웃 ----- */

  #about .about-img-area img {
    padding-right: 0;
  }

  #about .advantages ul li h5 {
    font-size: 2.3rem;
  }

  #about .advantages ul li p {
    font-size: 1.6rem;
  }

  /* ----- 컨텍트 ----- */

  #contact .contact-wrap {
    -webkit-box-orient: vertical;
    flex-direction: column;
    max-width: 500px;
  }

  #contact .contact-wrap .other ul {
    -webkit-box-pack: center;
    justify-content: center;
  }

  /* 컨텍트 타이틀 */
  #contact .contact-container .contact-title {
    font-size: 10.2vw;
  }

  /* 스크롤시 애니메이션되는 타이틀 */
  #contact .contact-container .contact-title.active {
    font-size: 12vw;
  }

  /* ----- 푸터 ----- */

  footer .footer-wrap {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column-reverse;
    padding: 22px;
  }

  footer .footer-wrap .top-btn {
    position: static;
    top: 0;
    padding-bottom: 18px;
    transform: translateY(0);
    -webkit-box-align: center;
    text-align: center;
  }
}


/* ------- 785 ------ */


@media(max-width: 785px) {

  .width-set {
    max-width: 590px;
  }

  .bottom {
    padding-bottom: 150px;
  }

  /* 타이틀 스크롤 텍스트 애니메이션 공통 */
  .skill-title-container,
  .pro-title-container {
    margin-bottom: 150px;
  }

  /* ----- 어바웃 ----- */

  #about .about-wrap .about-me {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column-reverse;
  }

  #about .about-content-area {
    padding-bottom: 5rem;
  }

  #about .about-img-area {
    position: static;
  }

  #about .about-img-area img {
    width: 100%;
    padding-right: 0;
  }

  #about .advantages ul li {
    width: 50%;
  }

  /* ----- 프로젝트 ----- */

  #project .project-wrap .pub-project-hover p {
    font-size: 1.4rem;
  }
}


/* ------- 526 ------- */


@media(max-width: 526px) {

  /* ----- 공용 클래스 ----- */

  .m-center {
    -webkit-box-align: center;
    text-align: center;
  }

  .main-container .main-title-wrap {
    top: 10%;
  }

  /* ----- 어바웃 ----- */

  #about .advantages ul {
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    gap: 50px;
  }

  /* ----- 스킬 ----- */

  #skills .skill-wrap .skill-contents li {
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
  }

  #skills .skill-wrap .skill-contents li .skill-text-wrap {
    padding: 0 1rem 3rem 1rem;
  }

  #skills .skill-wrap .skill-contents li img {
    left: 50%;
    transform: translateX(-50%);
  }

  /* ----- 프로젝트 ----- */

  #project .project-wrap .pub-project-hover {
    -webkit-box-align: center;
    align-items: center;
    padding-left: 0;
    padding: 5.6rem 0;
  }

  #project .project-wrap .project-list-wrap {
    gap: 3rem;
    -webkit-box-orient: vertical;
    flex-direction: column;
  }

  /* ----- 컨텍트 ----- */

  #contact .contact-wrap .button ul {
    gap: 3rem;
  }

  #contact .contact-wrap .button li img {
    width: 8.2em;
  }

}


/* ------- 280 ------- */


@media(max-width: 280px) {

  /* ----- 프로젝트 ----- */

  #project .project-wrap .project-list-wrap {
    -webkit-box-orient: vertical;
    flex-direction: column;
  }

  #project .project-wrap .pub-project-hover {
    padding: 5.4rem 0;
  }
}