@charset "utf-8";

/* 공용 클래스 */
body,
html {
  height: 100%;
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: default;
}

/* 스크롤바 커스텀 */
body::-webkit-scrollbar {
  width: 10px;
}

/* 스크롤바 막대 커스텀 */
body::-webkit-scrollbar-thumb {
  background: #111111;
  border-radius: 30px;
  border: 2px solid #fff;
}

section {
  height: 100vh;
  margin: 0 auto;
}

.hidden {
  width: 1px;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  position: absolute;
  z-index: 99999;
}

.section-title {
  position: absolute;
  top: 50px;
  left: 0;
  font-size: 7.5rem;
  font-family: "NHaas-M";
  color: #E9E9E9;
  letter-spacing: -0.04em;
  z-index: -1;
}

/* 요소 숨기기(애니메이션 효과) */
.hidden-wrap {
  position: relative;
  overflow: hidden;
}

/* 공용 클래스 끝 */

/* 타이틀 루프 애니메이션 공통 */

#skills .skill-title-box, 
#project .project-title-box {
  display: flex;
  flex-direction: row;
  border-top: 2px solid #111111;
  border-bottom: 2px solid #111111;
  padding: 30px 0;
  overflow: hidden;
}

#skills .skill-title-box .skill-title-wrap,
#project .project-title-box .project-title-wrap {
  display: flex;
  flex-direction: row;
}

#skills .skill-title-box .skill-title-wrap span,
#project .project-title-box .project-title-wrap span {
  font-size: 48px;
  text-transform: uppercase;
  font-family: "NHaas-B";
}

#skills .skill-title-box .skill-title-wrap img,
#project .project-title-box .project-title-wrap img {
  width: 32px;
  padding: 0 20px;
}


/* ------ 메인 ------ */

/* 네비게이션(로고, 카테고리) */
nav {
  position: absolute;
  width: 100%;
  padding: 30px 2.6%;
  box-sizing: border-box;
  z-index: 1;
}

/* 로고 */
nav .logo {
  position: fixed;
  width: 48px;
  float: left;
}

/* 콘텍트 센션 로고 색상 변경 */
nav .con-logo {
  position: fixed;
  width: 38px;
  float: left;
  display: none;
}

/* 카테고리 버튼 */
nav .cate-btn {
  position: fixed;
  right: 0;
  cursor: pointer;
  z-index: 10;
  padding: 5px 2.6%;
}

nav .con-cate-btn {
  position: fixed;
  right: 50px;
  cursor: pointer;
  z-index: 10;
  padding: 5px 0;
}

/* 카테고리 버튼 라인 생성 */
nav .cate-btn span {
  position: relative;
  display: block;
  width: 42px;
  height: 2px;
  background: #111111;
  border-radius: 50px;
  transition: all .5s;
}

/* 스크롤 값이 콘텍트 섹션에 진입하면 색상 변경 */
nav .cate-btn span.bg {
  background: #fff;
}

nav .cate-btn span:nth-child(2) {
  margin-bottom: 8px;
}

/* 카테고리 라인 close버튼 토글 */
nav .cate-btn span:nth-child(2).toggle {
  transform: rotate(135deg);
  background-color: #fff;
  top: 2px;
  margin: 0;
}

nav .cate-btn span:nth-child(3).toggle {
  transform: rotate(-135deg);
  background-color: #fff;
}

/* 카테고리 라인 close버튼 토글 */
nav .con-cate-btn span:nth-child(2).toggle {
  transform: rotate(135deg);
  background: #fff;
  top: 2px;
  margin: 0;
}

nav .con-cate-btn span:nth-child(3).toggle {
  transform: rotate(-135deg);
  background: #fff;
}

/* 카테고리 */
nav .category {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background: #6EFA00;
  padding: 0 8%;
  box-sizing: border-box;
  clip-path: inset(0 0 0 100%);
  transition: all 1s ease-in-out;
}

/* 카테고리 오픈 토글 */
nav .category.open {
  clip-path: inset(0 0 0 0);
}

/* 메뉴 */
nav #menu {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  font-family: "NHaas-B";
  gap: 50px;
  font-size: 4rem;
}

/* 메뉴 버튼 호버 */
nav #menu li {
  position: relative;
  left: 100px;
  opacity: 0;
  cursor: pointer;
}

nav #menu li:hover {
  color: #87FF29;
}


/* 네비게이션 끝 */

.main-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* portfolio 텍스트 */
.main-container .main-title {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  text-align: right;
  color: #fff;
  font-family: "NHaas-R";
  text-transform: uppercase;
  font-size: 82px;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: -0.04em;
}

.main-container .main-title .highlight {
  color: #6EFA00;
  font-size: 94px;
}

/* ------  어바웃 섹션 ------ */

#about .about-me {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 1060px;
  display: flex;
  margin: 0 auto;
}

/* 프로필 이미지 */
#about .about-img-area {
  position: sticky;
  position: -webkit-sticky;
  top: 10%;
}

#about .about-img-area img {
  width: 80%;
  padding-right: 50px;
}

#about .about-img-area .resume_btn {
  text-align: center;
  display: inline-block;
  border: 1px solid #111111;
  padding: 15px;
  margin-top: 30px;
  position: absolute;
  bottom: 0;
  left: 28%;
}

#about .about-content-area {
  width: 100%;
}

#about .about-content-area {
  width: 100%;
  word-break: keep-all;
}

#about .about-content-area h4 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
}

#about .about-content-area p:nth-child(2) {
  margin-top: 30px;
}

#about .about-content-area p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  margin-top: 20px;
}

/* ----- 스킬 영역 ----- */

#skills {
  width: 100%;
  height: auto;
}

#skills .skill-wrap {
  max-width: 1060px;
  margin: 0 auto;
  padding: 200px 0;
}

#skills h4 {
  font-size: 36px;
  font-weight: 600;
}

#skills .skill-wrap .skill-contents li {
  position: relative;
  border-bottom: 4px solid #111111;
  display: flex;
  justify-content: space-between;
}

#skills .skill-wrap .skill-contents li img {
  position: relative;
  right: 0;
  width: 140px;
  object-fit: contain;
  padding-right: 20px;
}

#skills .skill-wrap .skill-contents li .skill-text-wrap {

  padding: 50px 0 50px 20px;
}

#skills .skill-wrap .skill-contents li h5 {
  font-size: 36px;
  font-family: "NHaas-B";
  padding-bottom: 10px;
}

#skills .skill-wrap .skill-contents li p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}



/* ------  프로젝트 섹션 ------ */

#project {
  width: 100%;
  height: auto;
}

#project .project-wrap {
  max-width: 1060px;
  margin: 200px auto;
}

#project .project-wrap h4 {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

#project .project-wrap .Publishing {
  margin-bottom: 50px;
}

#project .project-wrap .project-list-wrap {
  display: flex;
  gap: 60px;
}

#project .project-wrap .project-list-wrap a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

#project .project-wrap .pub-project-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.80);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.8;
  opacity: 0;
  transition: all .4s;
}

#project .project-wrap .pub-project-hover:hover {
  opacity: 1;
}

#project .project-wrap .pub-project-hover h5 {
  font-size: 28px;
  font-weight: 600;
}

#project .project-wrap .project-list-wrap .Pub-project:nth-child(1) {
  margin-bottom: 50px;
}

#project .project-wrap .project-list-wrap .Pub-project-img img {
  
  width: 500px;
}




/* ------  콘텍트 섹션 ------ */
#contact {
  transition: all .6s;
}

#contact .contact-wrap {
  position: relative;
  padding: 0 7.291%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact .contact-wrap .section-title {
  transition: all 1s ease-in-out;
  padding-left: 7.291%;
  z-index: 0;
}

#contact .contact-wrap .section-title.active {
  color: #87FF29;
  font-size: 9.375rem;
}

#contact .contact-wrap .mail {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(200px);
  opacity: 0;
  transition: all 1s ease-in-out;
  padding-top: 60px;
}

#contact .contact-wrap .info {
  font-size: 24px;
  margin-bottom: 30px;
  color: #fff;
}

/* 메일 인풋 박스 */
#contact .contact-wrap .mail .input-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* 메일 인풋 박스, 텍스트 박스 공통 */
#contact .contact-wrap .mail input,
#contact .contact-wrap .mail textarea {
  box-sizing: border-box;
  width: 100%;
  border: none;
  padding: 10px;
  margin-top: 10px;
  background: transparent;
  border-radius: 3px;
  border: 1px solid #c9c9c9;
  color: #fff;
}

/* 메일 텍스트 박스 */
#contact .contact-wrap .mail textarea {
  min-height: 200px;
}

/* 클릭시 아웃라인 비활성화 */
#contact .mail input:focus,
#contact .contact-wrap .mail textarea:focus {
  outline: none;
}

/* 보내기 버튼 */
.mail button {
  margin-top: 50px;
  padding: 0.8rem 1.8rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .4s;
  background: transparent;
  border: solid 1px #c9c9c9;
  border-radius: 50px;
  color: #fff;
  font-family: "NHaas-B";
  display: block;
  text-align: center;
}

/* 버튼 호버 */
.mail button:hover {
  background: #87FF29;
  color: #111111;
  border: 1px solid #87FF29;
}